/*.container1{

    width: 50px;
    height: 60px;
    border: 1px solid #b4b4b400;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content:space-around;
    box-shadow: rgba(255, 5, 201, 0.2) 0 3px 1px -2px,rgba(0, 0, 0, .14) 0 2px 2px 0,rgba(0, 0, 0, .12) 0 1px 5px 0;
}*/


.header{
    color: black;

}

#policyForm{
    border-style: groove;
    padding: 20px;
    border-width: 2px;
    border-radius: 10px;
    border-color:plum;
  }
  
  /*common text-boxes class*/
  .form-group {
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
  }
  
  /*user input boxes*/
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select{
    width: 750px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 4px;
    outline: none;
    margin: 8px 0;
    padding: 8px;
    box-sizing: border-box;
  }

  /*button style*/
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #b61ee9;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    border-radius: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: whitesmoke;
  }

  /*terms and conditions part*/
 input[type="checkbox"]{
  height: 30px;
  width: 30px;
  background-color: darkgrey;
  border-radius: 5px;
  cursor: pointer;
 }
  
  .terms-text {
    margin-left: 5px;
  }
  
  .terms-text a {
    color: #2196F3;
    text-decoration: none;
  }
