/*header end*/

.payment {
    text-align: center;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    padding: 50px 10px;

}

.table {
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    padding: 50px;
    width: 100vw;
}

.table td {
    padding: 8px;
    text-align: left;
    border-bottom: 0px solid #000000;
    background-color: rgb(246, 167, 255);
    color: rgb(0, 0, 0);
}
.table th {
    background-color: rgb(59, 59, 59);
    border: 0px solid black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
}



/*.table td:nth-child(even) {
    background-color: #b2b2b225;
}

.table td:nth-child(odd) {
    background-color: #efe5e5;
}*/
